---
const images = [
    "/img/coding.jpg",
    "/img/coffe.jpg",
    "/img/challenge.jpg"
]
---
<section class="bg-black text-white h-screen flex flex-col gap-4 justify-center items-center px-2">
    <img class="w-40 rounded-full" src="/img/profile.jpg" alt="My profile photo">
    <p class="text-center text-lg"> 
        As web developer I love facing new problems and learn new things every day. As Jesus Gastelum,
        I love go out with my girlfriend, drink cold coffe, eat sushi and go to the gym.
    </p>
    <button class="bg-white text-black text-lg px-4 py-2 mt-5 rounded-full">
        Download CV
    </button>
</section>