---
import Skills from "./Skills.astro";
const images = [
    "/img/coding.jpg",
    "/img/coffe.jpg",
    "/img/challenge.jpg"
]
---
<section class="relative text-black h-screen flex flex-col gap-5 justify-center items-center px-2">
    <img class="w-40 rounded-lg" src="/img/profile.jpg" alt="My profile photo">
    <p class="text-center text-lg"> 
        As web developer <strong>I love facing new problems and learn new things every day</strong>. As Jesus Gastelum,
        I love go out with my girlfriend, drink cold coffe, eat sushi and go to the gym.
    </p>
    <Skills />
    <svg class="absolute bottom-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273036" fill-opacity="1" d="M0,160L60,154.7C120,149,240,139,360,122.7C480,107,600,85,720,101.3C840,117,960,171,1080,192C1200,213,1320,203,1380,197.3L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
</section>