
<section class="h-screen relative flex flex-col gap-3 px-2 justify-center items-center bg-hero bg-no-repeat bg-cover text-white">
    <img class="absolute opacity-70 -z-10 object-cover w-full h-full" src="/img/hero2.jpg" alt="Hero image" />
    <h2 class="text-5xl bg-gradient-to-r text-center from-green-500 to-blue-500 font-bold text-transparent bg-clip-text md:text-6xl">Jesus Gastelum</h2>
    <div class="flex flex-col gap-2 items-center ">
        <h4 class="text-xl font-bold md:text-2xl">Web developer</h4>
        <p class="text-center md:text-lg">Apassionate to face new challenges and learn new things every day</p>
    </div>
</section>
