
<section class="h-full flex flex-col gap-3 px-2 justify-center items-center bg-hero bg-no-repeat bg-cover text-white">
    <h2 class="text-5xl bg-gradient-to-r from-blue-700 to-slate-300 text-transparent bg-clip-text md:text-6xl">Jesus Gastelum</h2>
    <div class="flex flex-col gap-2 items-center ">
        <h4 class="text-xl font-bold md:text-2xl">Fullstack developer</h4>
        <p class="text-center md:text-lg">Apassionate to face new challenges and learn new things every day</p>
    </div>
    <img class="w-full absolute -bottom-1" src="/img/wave.svg" alt="Wave">
    <!-- <svg class="absolute bottom-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250"><path fill="#f3f4f5" fill-opacity="1" d="M0,224L1440,64L1440,320L0,320Z"></path></svg> -->
</section>
