

<section class="h-full flex flex-col gap-3 px-2 justify-center items-center bg-hero bg-no-repeat bg-cover text-white">
    <h2 class="text-5xl bg-gradient-to-r from-blue-700 to-slate-300 text-transparent bg-clip-text md:text-6xl">Jesus Gaselum</h2>
    <div class="flex flex-col gap-2 items-center ">
        <h4 class="text-xl font-bold md:text-2xl">Fullstack developer</h4>
        <p class="text-center md:text-lg">Apassionate to face new challenges and learn new things every day</p>
    </div>
</section>