---
import { getCollection } from "astro:content";

const skillsCollection = await getCollection('skills');
const skills = skillsCollection.map( skill => skill.data).flat();
---

<section class="text-white flex flex-col gap-5">
    <h3 class="text-black text-center font-bold text-xl">Skills</h3>
    <ul class="flex justify-center flex-wrap gap-1">
        {
            skills.map(tech => (
                <li class="bg-black flex gap-1 border-2 rounded-md p-1 text-white items-center w-16">
                    <img  class={`${tech.name === "Express" ? "invert" : ""} w-4`} src={tech.logo} alt="" />
                    <strong class="text-[8px]">{tech.name}</strong>
                </li>
            ))
        }
    </ul>
</section> 