---
interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Jesus Gastelum portfolio">
		<meta name="author" content="Jesus Gastelum" />
		<meta name="keywords" content="portfolio, jesus gastelum, jesus chaparro"/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png+xml" href="/img/coding-white.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body class="bg-background h-screen">
		<slot />
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=Roboto+Condensed:wght@400;700&display=swap');
	body {
		font-family: 'Roboto Condensed', 'Arial';
	}
</style>

